@{
    IEnumerable<Experience> experiences = ViewBag.Experience;
}
<section id="resume" class="resume">
    <div class="container">

        <div class="section-title">
            <h2>Resume</h2>
        </div>

        <div class="row">
            <div class="col-lg-6" data-aos="fade-up">
                <h3 class="resume-title">Education</h3>
                <div class="resume-item">
                    <h4>Selcuk University &amp; Computer Engineer</h4>
                    <h5>2010 - 2015</h5>
                    <p><em>I studied in the Engineer Faculty of Selcuk University of in the Konya city</em></p>
                </div>
            </div>
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <h3 class="resume-title">Professional Experience</h3>
                @foreach (var exp in experiences)
                {
                    <div class="resume-item">
                        <h4>@exp.Name</h4>
                        @if (exp.IsActived)
                        {
                            <h5 style="background-color:cornflowerblue">@exp.StartDate.ToShortDateString() - Present</h5>
                        }else
                        {
                            <h5>@exp.StartDate.ToShortDateString() - @Convert.ToDateTime(exp.EndDate).ToShortDateString()</h5>
                        }
                        <p><em>@exp.Location </em></p>
                        <ul>
                            @exp.Description @exp.
                        </ul>
                    </div>
                }

            </div>
        </div>

    </div>
</section>
