@model IEnumerable<Category>
@{
    ViewData["Title"] = "Categories";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col">
        <h1 class="display-4">@ViewData["Title"]</h1>
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <a asp-action="Create" class="btn btn-primary btn-sm" title="New Category"><i class="fa fa-plus me-2"></i>New Category</a>
    </div>
</div>
<div class="row mb-3">
    <div class="col">
        @if (Model.Count() == 0)
        {
            <span class="alert alert-danger">No data</span>
        }
        else
        {
            <table class="table table-hover table-sm">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Created At</th>
                        <th>Modified At</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Category cat in Model)
                    {
                        <tr>
                            <td>@cat.Title</td>
                            <td>@cat.Description</td>
                            <td>@cat.CreatedDate</td>
                            <td>@cat.ModifiedDate</td>
                            <td class="text-end">
                                <a asp-action="Edit" asp-route-id="@cat.Id" class="btn btn-warning btn-sm text-white" title="Edit"><i class="fa fa-edit me-2"></i>Edit</a>
                                <a asp-action="Delete" asp-route-id="@cat.Id"
                           onclick="return confirm('Are you sure want to delete this category : @cat.Title ?')" asp-route-id="@cat.Id"
                           class="btn btn-danger btn-sm" title="Delete"><i class="fa fa-trash me-2"></i>Remove</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>
@section Scripts{
    @if (TempData["result"] != null)
    {
        <script>
            toastr["success"]('@TempData["result"]', "Success");
        </script>
    }
}
